doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Home page
        link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link( rel="stylesheet" href="/css/main.css")
    body
        div.container
           div.row
               h1 #{mainheader}
                ul
                    li
                        a(href="/") Home
                        a(href="/contact") Contact
                        a(href="/about") About
                     .container
  .row.pt-1.pb-1
    .col-lg-12
      h4.text-center Carousel with Three input search
      h6.text-center awesome responsive image slider with search bar
      center
        | for more 
        a(style='text-align:center;' href='https://www.myprogrammingtutorials.com/unordered-list-into-multiple-columns.html') css tutorials
        |  visit here.
section
  #carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg' alt='...')
      .carousel-item
        img.d-block.w-100(src='https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg' alt='...')
      .carousel-item
        img.d-block.w-100(src='https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg' alt='...')
      .carousel-item
        img.d-block.w-100(src='https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg' alt='...')
    a.carousel-control-prev(href='#carouselExampleFade' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleFade' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
section.search-sec
  .container
    form(action='#' method='post' novalidate='novalidate')
      .row
        .col-lg-12
          .row
            .col-lg-3.col-md-3.col-sm-12.p-0
              input.form-control.search-slt(type='text' placeholder='Enter Pickup City')
            .col-lg-3.col-md-3.col-sm-12.p-0
              input.form-control.search-slt(type='text' placeholder='Enter Drop City')
            .col-lg-3.col-md-3.col-sm-12.p-0
              select#exampleFormControlSelect1.form-control.search-slt
                option Select Vehicle
                option Example one
                option Example one
                option Example one
                option Example one
                option Example one
                option Example one
            .col-lg-3.col-md-3.col-sm-12.p-0
              button.btn.btn-danger.wrn-btn(type='button') Search
