doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Home page
        link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link( rel="stylesheet" href="/css/main.css")
    body
        div.container
           div.row
               h1 #{mainheader}
                ul
                    li
                        a(href="/") Home
                            a(href="/contact") Contact
                                a(href="/about") About


                                div.container
                                     div.row
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg" class="d-block w-100" alt="...">

                                             div.row
                                                  
                                                       input.form-control.search-slt(type='text' placeholder='Enter Email')