doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Home page
        link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link( rel="stylesheet" href="/css/main.css")
    body
        div.container
           div.row
               
                ul
                    li
                        a(href="/") Home
                            a(href="/contact") Contact
                                a(href="/about") About
                                    a(href="/blog") Blog

        div.container
            div.row                       
                h1 #{mainheader}

        div.container
            
                    div.row
                                                  
                        form
                        .form-group
                            label(for='exampleInputEmail1') Username
                            input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter email')
                        .form-group
                            label(for='exampleInputPassword1') Password
                            input#exampleInputPassword1.form-control(type='password', placeholder='Password')
                        button.btn.btn-primary(type='submit') Sing In